<!DOCTYPE html>
<html lang="en" style="text-align: center; background-color: bisque;">
    
    <head>
        <title> About </title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: burlywood;
    }
  </style>
       
    </head>

    <body style="background-color: bisque;">

        <nav  class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a style="color: black;" class="navbar-brand" href="/static/LOGO.png">Logo</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/about_us">About Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a style="color: black;" href="/"><span class="glyphicon glyphicon-log-in"></span> Home</a></li>
                </ul>
              </div>
            </div>
          </nav>
        <div>
          <u><h1 style="text-align:center">What is Self Tracker?</h1></u>
        <p style="text-align:center">Many aspects of our lives can be quantified into parameters, our weight and sport activities among others. 
            Tracking such parameters can be key to awareness, improvement over time, reaching your goals and changing your habits. 
            This is why we have created The Self Tracker, it allows you to log values over time and then view them in a multitude of graphs, statistics and aggregations. </p>
        <h4 style="text-align: center;">Self tracker is a habit tracking website. It tracks your habits on basis of your daily routine and anlyse it to help you manage your daily routine. Thus, makes sure of a better routine for users.</h4>
            </div>
    </body>
    <footer class="container-fluid text-center">
        <p>&copy;SelfTracker2022. All Rights reserved.</p>
      </footer>
</html>

